// configuration file for tArchiver and associated programs
// mySQL database user
dbUser = mysql-db-user-name
dbPassword = mysql-password
// streaming API database name
database = twitter_stream_archive
// search API database name
searchAPIdatabase = twitter_archive

// email account for error messages
SMTP_HOST_NAME = smtp.gmail.com
SMTP_HOST_PORT = 465
SMTP_AUTH_USER = youraccount@gmail.com
SMTP_AUTH_PWD = gmail-password
RECIPIENT = email-to-send-errors-to
